<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    h2 {
        color:hotpink;
        text-align: center;
    }
</style>
<body>
    <br>
    <h4><strong> Hello User looks like you have forgotten your Passsword,the Password reset feature is not available right now</strong></h4>
    <hr>
    <p>You can create a new account or request the owner of this site to delete your exisiting account,So that You can make a new account with the same name</p>
    <p>Or If you are not able to log in even with the correct Username and Password,then your account is blocked from aceesing our site</p>

    <p>We have the right to block any User account If needed without informing the User</p>
    <h3>So what to do now?</h3>
    <ul>
        <li>Contact Ankit Mitra On Fb - Very High response rate</li>
        <li>Make sure you are logged in facebook at now,then only the link will work!</li>
        <a href="https://www.facebook.com/ankit.mitra.9028" target="_blank">Contact</a>
        <li>Or contact through gmail</li>
       <li>Gmail - ankitmitra486@gmail.com</li>
    </ul>
    <form action="{% url 'home' %}">
        <button type="submit" class="btn btn-outline-primary">Home</button>
    </form>
</body>
</html>